.nebula-bg {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 30% 30%, var(--accent-glow) 0%, transparent 70%),
        radial-gradient(circle at 70% 70%, var(--accent-secondary) 0%, transparent 80%);
    opacity: 0.5;
    filter: blur(150px);
    z-index: 0;
}

.perspective-1500 {
    perspective: 1500px;
}


.motion-card,
.motion-icon {
    will-change: transform;
}

@media (max-width: 500px) {
    .building-container {
        display: block;
        margin-bottom: 10px;
        /* Optional: Adjust spacing between 'Building' and the animation */
    }

    .building-text {
        display: block;
        margin-bottom: 10px;
        /* Ensures a gap between 'Building' and the typing animation */
        font-size: 2.65rem;
        /* Smaller text size for mobile */
    }

    .type-animation {
        display: block;
        /* Forces the animation to appear below 'Building' */
        font-size: 2.65rem;
        /* Smaller text size for mobile */
    }


}